---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Estudiando una Ingeniería',
        company: 'TECNM',
        description: 'Estudio una Ingeniería para poder expandir mis conocimientos y habilidades en el desarrollo web.',
    },
    {
        date: 'Enero de 2025',
        title: 'Desarrollador Frontend Jr.',
        company: 'CBTis No 86',
        description:
            'Forme parte del equipo de desarrollo de un sistema de gestión escolar, donde me encargué del desarrollo del frontend utilizando Html y  CSS. ' +
            'Me enfoqué en la creación de una interfaz mas amigable y atractiva para los usuarios, ' +
            'con el objetivo de mejorar la experiencia del usuario.',
    },
]
---

<ol class="relative mt-16">
    <h2 class="size-8 text-3xl font-semibold w-full text-start text-white gap-x-3 mb-6" id="Experiencia">
        💼 Experiencia laboral
    </h2>
    {
        EXPERIENCE.map(experience => (
            <li class="">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
