---
import ExperienceItem from './ExperienceItem.astro'
import CVicon from '../assets/file-cv.svg'
const EXPERIENCE = [
    {
        date: 'Actualmente',
        title: 'Desarrollador Frontend Jr.',
        company: 'Aprendizaje',
        description:
            'Actualmente estoy trabajando en mejorar mis habilidades en desarrollo web frontend, con el objetivo de aplicarlas en proyectos reales. ' +
            'Me enfoco en aprender nuevas tecnologías y herramientas que fortalezcan mis capacidades como desarrollador.',
    },
    {
        date: 'Enero de 2025',
        title: 'Desarrollador Frontend Jr.',
        company: 'CBTis No 86',
        description:
            'Formé parte del equipo de desarrollo de un sistema de gestión escolar, donde me encargué del desarrollo del frontend utilizando HTML y CSS. ' +
            'Me enfoqué en crear una interfaz más amigable y atractiva para los usuarios, mejorando su experiencia.',
    },
    {
        date: '2024',
        title: 'Comencé una Ingeniería',
        company: 'TECNM',
        description: 'Inicié mis estudios en la carrera de Ingeniería en Sistemas Computacionales.',
    },
    {
        date: '2023',
        title: 'Comencé a aprender programación y desarrollo web',
        company: 'Autodidacta',
        description:
            'Empecé a aprender programación y desarrollo web de forma autodidacta, ' +
            'enfocándome en HTML, CSS y JavaScript.',
    },
]
---

<p class="text-3xl font-semibold w-full text-start text-white gap-x-3" id="Experiencia">
    <CVicon class="w-8 h-8 inline-block" /> Experiencia
</p>
<ol class="relative mt-16">
    {
        EXPERIENCE.map(experience => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
