---
import Skills from './Skills.astro'
import Status from './Status.astro'
---

<section class="relative mt-32 Hero">
    <div
        class="w-90 h-90 rounded-full border-2 border-blue-950 border-dashed flex justify-center items-center overflow-hidden p-16"
    >
        <!-- cambiar imagen -->
        <img
            src="https://avatars.githubusercontent.com/u/145168535?s=400&u=454fdad1092fc6cf992e4483ea07c510fd6ce488&v=4"
            alt="imagen de c0d3hdz"
            class="aspect-auto w-full h-full object-cover rounded-full"
        />
    </div>
    <!-- Skills------------------------------------------------ -->
    <Skills />
    <Status />
</section>
