<nav class="w-full fixed top-0 left-0 z-50 justify-between ">
    <ul class=" pt-5 flex justify-center items-center gap-4 font-sans font-extralight dark:text-gray-200">
        <li class="cursor-pointer hover:text-blue-600"><a href="">Experiencia</a></li>
        <li class="cursor-pointer hover:text-blue-600">Proyectos</li>
        <li class="cursor-pointer hover:text-blue-600">Sobre mí</li>
        <li class="cursor-pointer hover:text-blue-600">Contacto</li>
    </ul>
</nav>