<article class="text-lg font-normal text-center text-gray-100 p-4 presentation">
    <h1 class="text-4xl font-bold mb-4">¡Hola! Soy c0d3hdz</h1>
    <p class="mb-4">
        Soy un desarrollador web apasionado por la tecnología y el aprendizaje continuo.
    </p>
    <p class="mb-4">
        Explora mis proyectos, habilidades y trayectoria profesional.
    </p>
    <p class="mb-4">
        ¿Tienes una idea? Contáctame. <span class="text-yellow-500 font-bold">¡Gracias por visitar!</span>
    </p>
</article>

<style>
    .presentation {
        animation: fadeIn linear;
        animation-timeline: view();
        animation-range: entry 0% cover 50%;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            scale: 0.8;
        }
        100% {
            opacity: 1;
            scale: 1;
        }
    }
</style>
